<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Lawrence is a narrative strategist, connector, and systems thinker. Over the course of his relatively short professional career, he has honed his communications, facilitation, and design skills and is now interested in using them to support social justice in as many ways as he can. He also runs a <a href="http://www.lawrencebarrinerii.com/coaching" target="_blank">productivity coaching practice</a> and is an aspiring writer.</p>
</div><!--//summary-->
</section><!--//section-->