<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Program Director, <a href="https://www.colab.mit.edu/community-media" target="_new">Community Media</a></h3>
                            <div class="time">June 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://colab.mit.edu/">MIT Community Innovators Lab</a>, Cambridge</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop a program plan and coordinate with other Program Directors to integrate all plans with CoLab's strategic intent. Leverage media and media platforms to advance economic democracy and self-determination. Build experiments to explore methods for establishing community-focused learning tools. Create workshops, courses, and fellowship opportunities for students and members of communities that the lab serves. </p>
                        <p><b>Selected Projects: </b><a href="https://calendar.mit.edu/event/speculativefutures">The (Speculative) Futures of Libraries and Archives</a>, <a href="https://www.flickr.com/photos/39707106@N02/sets/72157687542438832">The Collaborative Sci-Fi Generator</a>, <a href="http://colabradio.mit.edu/category/alternative-futures/">Alternative Futures Collective & Workshops</a>, <a href="https://collectivecouragebookclub.wordpress.com/">The Collective Courage Online Book Club</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Executive Editor, <a href="http://colabradio.mit.edu/">CoLab Radio</a></h3>
                            <div class="time">Nov 2016 — Present</div>
                        </div><!--//upper-row-->
                        <div class="company">MIT Community Innovators Lab, Cambridge</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Write, source, edit, and curate content for CoLab's award-winning blog. Support contributors from around the world to produce and publish multimedia content.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Interim Program Director</h3>
                            <div class="time">Nov 2016 — June 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">MIT Community Innovators Lab, Cambridge</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Work with individuals, collectives and organizations, within and outside of MIT, to produce media for CoLab Radio that documents local stories speaking to the history, challenges and hopes of a particular place and that corresponds with key CoLab themes of social justice and marginality.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Communications Manager</h3>
                            <div class="time">March 2016 — August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://interactioninstitute.org/">Interaction Institute for Social Change</a>, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Evolved internal communications systems through the introduction of Slack, developing IISC's voice through smart and entertaining social media curation, increasing understanding about audience perception through data collection, increasing in leadership as a graphic designer and communications strategist, managing the production of an organization style guide with <a href="http://www.nimblebot.com/" target="_new">Nimblebot</a>, supervising of a graphic design fellow, and ongoing work directly with units to build an inspired suite of visuals.</p>
                        <p><b>Selected Projects: </b><a href="http://www.foodsolutionsne.org/get-involved/21-day-racial-equity-habit-building-challenge">21-Day Racial Equity Challenge</a>.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Communications Specialist</h3>
                            <div class="time">March 2015 — March 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Interaction Institute for Social Change, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Internal and External Strategic Communications, Social Media, Website development, Communications &amp; Project Management tools.</p>  
                        <p><b>Selected Projects: </b><a href="https://www.boston.gov/departments/transportation/go-boston-2030">GoBoston2030</a>.</p>  

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Urban Agriculture Policy Consultant</h3>
                            <div class="time">August 2014 — June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Cambridge Food and Fitness Policy Council, Cambridge</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked with the Cambridge Urban Agriculture Task Force (a subgroup of the <a href="http://www.cambridgepublichealth.org/policy-practice/food-fitness-policy-council.php">Cambridge Food &amp; Fitness Policy Council</a>) to develop policy options for an urban agriculture ordinance. Coordinated research partnership with the Conservation Law Foundation, assisted in meeting facilitation, performed policy and implementation research, and managed document development.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Communications Associate</h3>
                            <div class="time">November 2014 — March 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Interaction Institute for Social Change, Boston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Design, create and release content for client projects and senior associate on-site engagements.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->