<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>--><!--//intro-->
                <!-- <div class="item">
                    <span class="project-title"><a href="http://wwwlc.org/" target="_blank">The World We Want: Living the Change</a></span> - <span class="project-tagline">Two days of playing, living, and working the way we want. July 8th and 9th, 2017.</span>
                </div> --> <!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://colabradio.mit.edu/category/alternative-futures/" target="_blank">Alternative Futures</a></span> - <span class="project-tagline">A collaborative space (including a <a href="http://colabradio.mit.edu/category/alternative-futures/" target="_blank">writing collective</a> and <a href="https://www.flickr.com/photos/39707106@N02/albums/72157691925408784">workshops</a>) to stretch and harness imagination and provide a platform for collaborative and radical future-thinking. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="bit.ly/ReadingEmergentStrategy" target="_blank">Emergent Strategy Book Club</a></span> - 
                    <span class="project-tagline">7-week book club to read Emergent Strategy in preparation for Adrienne Maree Brown's visit to Boston in November 2017.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.instagram.com/thestoryloft/" target="_blank">Story Loft</a></span> - 
                    <span class="project-tagline">Unwind, unplug, and hear your neighbors’ life stories. East Boston (for now).</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://big-talk.github.io/" target="_blank">Big Talk</a></span> - <span class="project-tagline">One big question. No small talk. Conversation with depth. Bi-weekly.</span>
                </div><!--//item-->
                
                
            </section><!--//section-->